{# {% extends 'amarcio/index.html.twig' %} #}


{% block body %}
<link rel="stylesheet" href="{{ asset('css/styles.css') }}">
<link rel="stylesheet" href="{{ asset('css/selectric.css') }}">

  <div class="formularios login">
    <div class="logo">
      <a href="{{ path('homepage') }}" title=""><img src="../images/fundacionandresmarcio--logo.jpg" alt=""></a>
    </div>
    <p class="multicolore">Iniciar sesión</p>
    <form class="login" action="{{ path('security_login') }}" method="post">

      <div class="form-group has-feedback">
        <label for="">Usuario</label>
        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="user"/>
      </div>

      <div class="form-group has-feedback">
        <label for="">Contraseña</label>
        <input type="password" class="form-control" id="password" name="_password" placeholder="Password"/>
      </div>

      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

      <br>
      <div class="row">
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Acceder</button>
        </div>
      </div>
    </form>
  </div>

{% endblock %}
